<h2>Submit Flags</h2>
<!-- this will eventually come from the DB to get the number of flags (json) -->
<ul id="flag_icons">
    <!-- todo: ng-repeat -->
    <li>
        <img src="/static/assets/flag.png" alt="flag_icon"/>
    </li>
    <li>
        <img src="/static/assets/flag.png" alt="flag_icon"/>
    </li>
    <li>
        <img src="/static/assets/flag.png" alt="flag_icon"/>
    </li>
    <li>
        <img src="/static/assets/flag.png" alt="flag_icon"/>
    </li>
</ul>
<p class="challenge">Current Flag Desc</p>
<span><input id="submitFlag" placeholder="RC3-XYZ-1234"></input><button>Submit</button></span>