<img class="logo" src="/static/assets/rc3logowhite.png">
    <div class="footer-links">
        <div class="footer-link footer-about">
            <p>ABOUT</p>
            <a href="/about#history">History</a>
            <a href="/about#eboard">E-Board</a>
            <a href="/about">Manifesto</a>
            <a href="/media">Media Kit</a>
        </div>
        <div class="footer-link footer-club">
            <p>LEGAL</p>
            <a href="/constitution">Constitution</a>
            <a href="/privacy-policy">Privacy</a>
        </div>

        <div class="footer-link footer-visit">
            <p>CHECK US OUT</p>
            <a>12:00-2:00PM EST</a>
            <a>Golisano 2400</a>
        </div>


        <div class="footer-link footer-elsewhere">
            <p>ELSEWHERE</p>
            <a>Facebok</a>
            <a>Youtube</a>
        </div>
        <div class="footer-link footer-misc">
            <p>MISC</p>
            <a href="/misc/links">Member Sites</a>
            <a href="/misc/design">Design Choices</a>
        </div>
        <div class="footer-link footer-made">
            <p>Built with &lt;3 <br>by Sean Sun and Jaime Geiger</p>
        </div>
    </div>

